:root {
  --color-secondary: #dee6ee;
  --color-primary: #7dc2ae;
  --color-primary-dark: #199379;
  --color-primary-light: #21C6A3;
  --color-dark: #282d34;
  --color-dark-2: #262526;
  --color-dark-3: #242224;
  --color-snow: #f7f7f7;
  --color-border: #e5e2e2;
  --color-gray-light: #f5f5f5;
  --color-gray: #ccc;
  --color-gray-dark: #999999;
  --color-text: #626262;
  --color-red: #d24c4c;
  --color-red-dark: rgb(144, 47, 47);
  --color-green-dark: #28a745;
  --color-green: #66bb6a; 
  --color-green-light: #afff72;

  --font-open-sans: "Open Sans", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-garmond: "EB Garamond", serif;

  --font-exo-2: "Exo 2", sans-serif;
}

$header-height: 60px;
$right-menu-width: 380px;
